body {
	font-family: arial, sans-serif;
}

/* Google mimick */
.google-header {
	height: 60px;
	background-color: #F1F1F1;
}

.google-button {
	width: 96px;
	height: 29px;
	background-color: #F7F7F7;
	color: #222;
	border: 1px solid #C6C6C6;
	border-radius: 2px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 8px;
	margin-right: 5px; 
}

.google-button-2 {
	width: 110px;
	height: 29px;
	background-color: #F7F7F7;
	color: #222;
	border: 1px solid #1C71EF;
	border-radius: 2px;
	font-size: 11px;
	font-weight: bold;
	padding: 0 8px;
	margin-left: 5px;
}

.google-button:hover, 
.google-button-2:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.google-input {
	height: 27px !important;
	width: 80%;
	padding: 0 9px;
	font-size: 0.9em;
}

.google-search-icon-div {
	background-color: #4485F5;
	padding: 3px 20px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.google-search-icon {
	color: white;
	font-size: 20px;
}

.google-logo-sm {
	width: 92px;
}

.home-btn:hover {
	text-decoration: none;
}

/* width */

.w-2-5 {
	width: 40%;
}

.w-3-5 {
	width: 55%;
}

.w-4-5 {
	width: 80%
}

/* z-index */

.z-1 {
	z-index: 1;
}

/* colors */

.ggbg {
	background-color: #4485F5;
}

/* borders */
.bdrs-2 {
	border-radius: 2px;
}

/* padding */

.p-5-15 {
	padding: 5px 15px;
}

.pt-lg2 {
	padding-top: 25px;
}

/* hooks */

.btn:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
	cursor: pointer;
}

/* size */

.nav-links {
	line-height: 54px;
	border-bottom: 1px solid #ebebeb;
	padding: 0;
	display: block;
}

/* links */

.header-links a {
	display: inline-block;
 	color: #666;
	font-size: small;
	padding: 0 8px;
	margin: 0 5px;
}

.header-links a:hover {
	text-decoration: none;
}

.header-links a:visited {
	color: #666;
}

.active {
	border-bottom: 3px solid #dd4b39;
	color: #dd4b39 !important;
	font-weight: bold;
}

.images-link {
	color: #1e0fbe !important;
	font-size: 18px;
	line-height: 18px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

a:visited {
	color: inherit;
}

/* imagebox */

.imagebox {
	padding-bottom: 16px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ebebeb;
}

.imagebox img {
	margin: 0 2px 0 0;
	padding: 0;
	max-height: 100px;
}

/* introbox */

.introbox {
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	font-size: small;
	font-family: arial, sans-serif;
	color: #222;
	padding: 15px;
}

.intro-header {
	font-size: 30px;
	line-height: 25px;
	color: #222;
	font-weight: normal;
}

.intro-stats {
	font-size: 12px;
	line-height: 12px;
	color: #A4A4A4;
	margin: 0 0 3px 0;
}

.intro-description {
	font-size: 13px;
	line-height: 17px;
	color: #222;
}

.intro-description a {
	color: #1e0fbe !important;
}

.intro-links {
	position: absolute;
	top: 5%;
	right: 3%;
}

.intro-links i {
	margin-left: 10px;
	font-size: 18px;
}

.g-y {
	color: #FFBF05;
}

.l-b {
	color: #1060A6;
}

.t-b {
	color: #1AB2E8;
}

/* Google Listings */

.result-stats {
	color: #808080;
	font-size: small;
}

.item-header-link {
	font-size: 18px;
	line-height: 20px;
	color: #1e0fbe !important;
}

.item-url {
	font-size: 14px;
	line-height: 14px;
	color: #006621;
	margin: 3px 0 0 0;
}

.date {
	color: #808080;
}

.item-description {
	color: #545454;
	font-size: small;
	line-height: 1.4;
}

.item-description a {
	color: #1e0fbe !important;
}

.footer {
	background-color: #f2f2f2;
	color: #aaa;
}

/* Images */

.gallery {
	width: 200px;
	margin: 3px 10px 3px 0;
	box-shadow: 1px 1px 1px #A4A4A4;
	opacity: 0.8;
	transition: all 0.1s ease-out;
	-webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
	z-index: 0;
	position: relative;
}

.gallery:hover {
	opacity: 1;
	transition: all 0.1s ease-out;
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	z-index: 1;
}

/* blogs */

.posts img {
	width: 99%;
	margin-right: 1%;
	box-shadow: 1px 1px 1px #A4A4A4;
	opacity: 0.7;
	transition: all 0.1s ease-out;
	-webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
	z-index: 0;
	position: relative;
}

.posts img:hover {
	opacity: 1;
	transition: all 0.1s ease-out;
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	z-index: 1;
}

