<div class="row">
	<a href="#" class="item-header-link">Full-Stack Web Developer / Freelancer</a>
	<p class="item-url">view past freelance projects <i class="fa fa-caret-down"></i> <span class="date">May 2014 - Present</span></p>
	<p class="item-description">Currently building my web development experience completing full-stack freelance contracts. My past and current projects are built on Ruby on Rails or Javascript and AngularJS.
	<br><br>
	<a href="#">Click to view projects.</a></p>
</div>

<div class="row">
	<a href="#" class="item-header-link">Web Development Team Lead / Product Manager</a>
	<p class="item-url">http://devbootcamp.com <i class="fa fa-caret-down"></i> <span class="date">Aug 2014 - Jan 2015</span></p>
	<p class="item-description">Graduated from Dev Bootcamp, a 19-week intensive coding program where I completed over 1,000 hours of programming. During this time I learned how to fathom new languages and complexities, quickly. 
	<br><br>
	Built a private social network platform for families where they can share photos, comments, polls, and other memories.
	<br><br>
	Led a dev team of four where we built an API and mobile application that make bar crawling more social, enjoyable, and memorable.
	<br><br>
	<a href="#">Click to view projects.</a></p>
</div>

<div class="row">
	<a href="http://www.jossle.org" class="item-header-link" target="_blank">Co-Founder of Jossle</a>
	<p class="item-url">http://www.jossle.org/magazine/<i class="fa fa-caret-down"></i> <span class="date">April 2012 - December 2012</span></p>
	<p class="item-description">Jossle dedicates itself towards making college better for students everywhere by offering a variety of opportunities for earning extra income and an online magazine 100% powered by students. In this aim, Jossle is making it easier than ever before for companies to gain initial traction among college students.
	<br><br>
	Designed and led a viral social media campaign that reached over 10,000 unique views in one week.
	<br><br>
	<a href="#">Click to read more.</a></p>

	<!-- <br><br>
	Contributed in managing all executive business decisions such as sales, marketing, operations, and finances.
	<br><br>
	Specialized in designing and producing marketing materials and presentations to the public. 
	<br><br>
	Specialized in pricing different packages to clients, bookkeeping, databases and generating uniquely client-tailored business proposals. -->
</div>

<div class="row">
	<a href="http://zabamba.com/" class="item-header-link" target="_blank">Co-Founder & Advisor for Zabamba</a>
	<p class="item-url">http://zabamba.com <i class="fa fa-caret-down"></i> <span class="date">May 2011 - Present</span></p>
	<p class="item-description">Currently act as a board of advisor for web start-up company that blends social media with consumerism. It is essentially Yelp for Kenya.
	<br><br>
	Oversaw and co-managed all aspects of the company's decision making in the departments such as operation, marketing and most specifically in finance.
	<br><br>
	Specialized in budget planning, accounting, financial goals and benchmarking, constructed financial statements, strategies and analyses.
	<br><br>
	Experienced dealing with programmers from the other side of the table, unexpected legal issues, as well as pivoting business models and value propositions to changing market trends and expectations.
	<br><br>
	<a href="#">Click to read more.</a></p>
</div>

<div class="row">
	<a href="http://www.startedtomorrow.com" class="item-header-link" target="_blank">Founder of Started Tomorrow</a>
	<p class="item-url">http://www.startedtomorrow.com <i class="fa fa-caret-down"></i> <span class="date">July 2013 - March 2014</span></p>
	<p class="item-description">Operated an entrepreneurship blog to inspire and spread the entrepreneurial spirit amongst the youth all over the world so that they may be empowered.
	<br><br>
	Learned about SEO, blogging, and Google Analytics.
	<br><br>
	<a href="#">Click to view its most popular blog posts.</a></p>
</div>
