<h1 class="intro-header mt-lg">Innovator. Creator. Leader.</h1>
<p class="intro-description pt-lg">
	Mark Twain once said, <i>"The two most important days in your life are the day you are born and the day you find out why."</i>
</p>
<p class="intro-description">	
	I have yet to reach that second day. Until I do, I will enthusiatically pursue the discovery of new knowledge, experiences, and friends. Everybody has a purpose and I am living to find mine. 
</p>
<p class="intro-description">	
	I am young, driven, and full of creative potential. Having been raised by a mechanical engineer and an artist, I am blessed with the inherent ambitions of a natural leader and the artistic touch of a poet. I posess a lethal work ethic that will surely become a contagious force within your workplace. I push boundaries of expectations because without doing so, we might never realize who we really are or what we are able to achieve.
	<br><br>
	Invest in me-- and I won't let you down.
</p>
<p class="intro-description mb-lg">
	Pursue the wow factor,
</p>
<img src="images/han/sign.jpg" width="100px" class="mt-lg">
<p class="intro-description">
	Han
</p>

<p class="item-url mt-xl">hankim813@gmail.com | (401) 222-9047 | www.linkedin.com/in/hankim813 | github.com/hankim813</p>