<header class="row google-header">
	<div class="p-lg col span_1 ta-c">
		<a ui-sref="home()">
			<img src="images/google.png" alt="google-logo" class="google-logo-sm">
		</a>
	</div>
	<div class="pt-lg pl-lg pb-lg col span_6">
	  <input type="text" value="why {{resume.companyName}} should hire Han Kim" class="m-a fz-md fw-n d-ib fl-l google-input">

		<div class="google-search-icon-div d-ib fl-l m-0 btn">
		  <i class="fa fa-search google-search-icon"></i>
		</div>
	</div>

	<div class="pt-lg pos-a t-0 r-2">
		<a ui-sref="resume.hire">
			<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 ff-a fz-md btn ml-md">Hire Han</button>
		</a>
	</div>
</header>


<div class="row nav-links">
	<div ng-include src="'views/navBar.html'"></div>
</div>

<div class="row">
	<div ng-include src="'views/lists.html'"></div>
</div>

<footer class="row footer mt-lg">
	<div class="col span_10 mb-lg pt-xl">
		<div class="w-4-5 m-a fz-sm">
			<span class="mr-lg">created by <strong>HK Productions |</strong></span><span class="mr-lg">HanKim813@gmail.com</span><span class="mr-lg">401 222 9047</span><span class="mr-lg">San Francisco, CA</span></p>
		</div>
	</div>
	<div class="col span_2 ta-c pb-lg pt-lg2">
		<a ui-sref="resume.hire">
			<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 fz-md btn ml-md">Hire Han</button>
		</a>
	</div>
</footer>