<header class="google-header">
	<div class="row">
		<div class="col span_1 mt-lg pl-lg">
			<a ui-sref="home()">
				<img src="images/google.png" alt="google-logo" class="google-logo-sm">
			</a>
		</div>
		<div class="pt-lg pl-lg pb-lg col span_6">
		  <input type="text" value="why should {{resume.companyName}} hire Han Kim" class="m-a fz-md fw-n d-ib fl-l google-input-2">

			<div class="google-search-icon-div d-ib fl-l m-0 btn">
			  <i class="fa fa-search google-search-icon"></i>
			</div>
		</div>

		<div class="pt-lg pr-lg pos-a t-0 r-2 ta-r">
			<a ui-sref="resume.hire">
				<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 ff-a fz-md btn ml-md">Hire Han</button>
			</a>
		</div>
	</div>
</header>

<div class="nav-links">
	<div ng-include src="'views/navBar.html'" class="m-a w-5-6"></div>
</div>

<div class="row">
	<div ng-include src="'views/lists.html'"></div>
</div>

<footer class="row footer mt-lg ta-c">
	<div class="col span_10 mb-lg pt-xl">
		<div class="w-4-5 m-a fz-sm">
			<div class="mr-lg col span_2">created by <span style="color: #04a05b;"><strong>Han Kim</strong></span></div>
			<div class="mr-lg col span_2">San Francisco, CA</div>
			<div class="mr-lg col span_2">HanKim813@gmail.com</div>
			<div class="mr-lg col span_2 mb-md">401 222 9047</div>
			<div class="mr-lg col span_2">
				<a href="https://twitter.com/hanothan" class="twitter-follow-button pos-r up-4" data-show-count="false">Follow @hanothan</a>
			</div>
		</div>
	</div>
	<div class="col span_2 ta-c pb-lg pt-lg2">
		<a ui-sref="resume.hire">
			<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 fz-md btn ml-md">Hire Han</button>
		</a>
	</div>
</footer>
