<main class="row m-a w-5-6 p-md mt-lg">
	<div class="row">
		<p class="result-stats mt-0">Too many results (0.32 seconds)</p>
	</div>
	<div class="col span_7 mr-0 pr-xl">
		<div class="row mb-xl">
			<div ui-view="experiences"></div>
			<div ui-view="videos"></div>
			<div ui-view="images"></div>
			<div ui-view="projects"></div>
			<div ui-view="hire"></div>
		</div>
	</div>
	<div class="col span_5 introbox mt-sm pos-r">
		<div class="intro-links"><a href="https://github.com/hankim813/" target="_blank"><i class="fa fa-github-alt g-y"></i></a><a href="https://www.linkedin.com/in/hankim813" target="_blank"><i class="fa fa-linkedin l-b"></i></a><a href="https://twitter.com/hanothan" target="_blank"><i class="fa fa-twitter t-b"></i></a></div>
		<h1 class="intro-header mt-md">Han Kim</h1>
		<p class="intro-stats">Integrations Tech Lead @ Segment</p>
		<p class="intro-description">Han is an entrepreneur at heart constantly adapting and learning to the evolution of his own purpose and passion. Shortly after earning a degree in business administration at <a href="http://www.babson.edu" target="_blank">Babson College</a>, he realized that in order to be reach his desired level of success, he needed to learn how to code. He took a leap of faith and moved to SF in order to attend a rigorous 19-week <a href="http://devbootcamp.com"
      target="_blank">coding program</a> where he learned how to quickly learn programming languages. This involved over 1,300+ of coding in those 19 weeks, or ~10 hours a day.
		<br><br>
    Upon graduating his coding bootcamp, Han started his professional career as a Success Engineer where he cultivated an extremely strong focus to be customer centric. His current mindset when building products is largely shaped by his experience talking to customers every day and understanding their pain points. 
		<br><br>
    Han was known to be extremely driven and ambitious as he always made sure to finish his tasks by 3PM so that he could spend the rest of his day actually shipping code to fix bugs and pains for the customers he would talk to instead of waiting for Software Engineers. Eventually, he started to garner great amonut of recognition within the company for going above and beyond.
		<br><br>
    This led to a quick promotion into the Engineering team. Han exemplified leadership qualities that eventually earned him the title to be the Tech Lead for a team of seven other engineers a year later. 
		<br><br>
    Currently, Han's newest and fiercest passion is in fitness and health. Ask him about his 2017 new years resolution and <i>the</i> facebook status post.
		</p>
		<p class="intro-description"><strong>Born:</strong> August 13, 1991</p>
		<p class="intro-description"><strong>Origin:</strong> Rhode Island, via South Korea</p>
		<p class="intro-description"><strong>Citizenship:</strong> South Korea & United States of America </p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://www.babson.edu" target="_blank">Babson College</a> (2014) 3.56 GPA</p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://devbootcamp.com" target="_blank">Dev Bootcamp</a> (2015) +1,300 HRS of Coding</p>
		<p class="intro-description"><strong>Interests:</strong> Health & Fitness, Celtics, Patriots, Basketball, Hip Hop, Tech,  E-sports</p>
	</div>
</main>
