<main class="row m-a w-5-6 p-md mt-lg">
	<div class="row">
		<p class="result-stats mt-0">Too many results (0.32 seconds)</p>
	</div>
	<div class="col span_6 mr-xl">
		<div class="row">
			<div ui-view="experiences"></div>
			<div ui-view="videos"></div>
			<div ui-view="images"></div>
			<div ui-view="projects"></div>
			<div ui-view="hire"></div>
		</div>
	</div>
	<div class="col span_5 introbox mt-sm pos-r">
		<div class="intro-links"><a href="https://github.com/hankim813/" target="_blank"><i class="fa fa-github-alt g-y"></i></a><a href="https://www.linkedin.com/in/hankim813" target="_blank"><i class="fa fa-linkedin l-b"></i></a><a href="https://twitter.com/hanothan" target="_blank"><i class="fa fa-twitter t-b"></i></a></div>
		<p class="intro-header">Han Kim</p>
		<p class="intro-stats">Full-Stack Web Developer & Entrepreneur</p>
		<p class="intro-description">Han is an entrepreneur at heart who recently embarked on a journey to become a full-stack web developer. Shortly after earning a degree in business administration at <a href="http://www.babson.edu" target="_blank">Babson College</a>, he also graduated from a rigorous 19-week <a href="http://devbootcamp.com" target="_blank">coding program</a> where he learned how to quickly fathom complexities. 
		<br><br>
		The combination of his preexisting business acumen from his past startups and the newly earned knowledge in programming languages such as Ruby and JS makes him a force to be reckoned within tech startup community.</p>
		<p class="intro-description"><strong>Born:</strong> August 13, 1991</p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://www.babson.edu" target="_blank">Babson College</a> (2014) 3.56 GPA</p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://devbootcamp.com" target="_blank">Dev Bootcamp</a> (2015) +1,000 HRS of Coding</p>
		<p class="intro-description"><strong>Languages:</strong> Javascript & Ruby</p>
		<p class="intro-description"><strong>Technologies:</strong> AngularJS, Rails, NodeJS, Express, MongoDB, Postgresql</p>
		<p class="intro-description"><strong>Blog:</strong> <a href="http://hellohankim.com" target="_blank">hellohankim.com</a></p>
	</div>
</main>

<footer class="row footer mt-lg">
	<div class="col span_10 mb-lg pt-xl">
		<div class="w-4-5 m-a fz-sm">
			<span class="mr-lg"><strong>Han Kim |</strong></span><span class="mr-lg">HanKim813@gmail.com</span><span class="mr-lg">401 222 9047</span><span class="mr-lg">San Francisco, CA</span></p>
		</div>
	</div>
	<div class="col span_2 ta-c pb-lg pt-lg2">
		<a ui-sref="resume.hire">
			<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 fz-md btn ml-md">Hire Han</button>
		</a>
	</div>
</footer>