<div class="row ta-c mt-xl">
  <img src="images/google.png" alt="google logo" width="20%">
</div>

<div class="row mt-lg w-4-5 ta-c m-a">
  <input type="text" value="why should {{home.companyName}} hire Han Kim" class="m-a fz-md fw-n google-input">
</div>

<div class="row mt-lg ta-c">
  <a ui-sref="resume.experiences({company: '{{home.companyName}}'})" class="home-btn">
    <button class="google-button">Google Search</button>
  </a>
  <a ui-sref="resume.experiences({company: '{{home.companyName}}'})" class="home-btn">
    <button class="google-button-2">I'm Feeling Lucky</button>
  </a>
</div>

<footer class="row footer mt-lg pos-a b-0 w-1-1">
	<div class="col span_10 mb-lg pt-xl">
		<div class="w-4-5 m-a fz-sm">
			<div class="mr-lg col span_2">created by <strong>Han Kim</strong></div>
			<div class="mr-lg col span_2">San Francisco, CA</div>
			<div class="mr-lg col span_2">HanKim813@gmail.com</div>
			<div class="mr-lg col span_2">401 222 9047</div>
			<div class="mr-lg col span_2">
				<a href="https://twitter.com/hanothan" class="twitter-follow-button pos-r up-4" data-show-count="false">Follow @hanothan</a>
			</div>
		</div>
	</div>
	<div class="col span_2 ta-c pb-lg pt-lg2">
		<a ui-sref="resume.hire">
			<button class="c-w ta-c ggbg bdrs-2 bd-n p-5-15 fz-md btn ml-md">Hire Han</button>
		</a>
	</div>
</footer>


