<div class="row ta-c mt-xl">
  <img src="images/google.png" alt="google logo" width="20%">
</div>

<div class="row mt-lg w-4-5 ta-c m-a">
  <input type="text" value="why {{home.companyName}} should hire Han Kim" class="m-a fz-md fw-n google-input">
</div>

<div class="row mt-lg ta-c">
  <a ui-sref="resume.experiences({company: '{{home.companyName}}'})" class="home-btn">
    <button class="google-button">Google Search</button>
  </a>
  <a ui-sref="resume.experiences({company: '{{home.companyName}}'})" class="home-btn">
    <button class="google-button-2">I'm Feeling Lucky</button>
  </a>
</div>

