<div class="header-links row w-1-1">
	<a ui-sref="resume.experiences({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/experiences')}">Resume</a>
	<a ui-sref="resume.videos({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/videos')}">Videos</a>
	<a ui-sref="resume.images({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/images')}">Images</a>
	<a ui-sref="resume.projects({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/projects')}">Projects</a>
	<a ui-sref="#/">More <i class="fa fa-caret-down"></i></a>
</div>

<div class="row m-a w-5-6 p-md">
	<div class="col span_6 mr-xl">
		<a ui-sref="resume.images({company: '{{resume.companyName}}'})" class="images-link">Images for Han Kim</a>
		<div class="row imagebox">
			<img src="images/han/boston.jpg" alt="Han Kim in Boston"><img src="images/han/han.jpg" alt="Han Kim"><img src="images/han/newyears.jpg" alt="Han Kim"><img src="images/han/lovedogs.jpg" alt="Han Kim loves dogs"><img src="images/han/graduation.jpg" alt="Han Kim Babson College Graduation"><img src="images/han/classphoto.jpg" alt="Han Kim Dev Bootcamp">
		</div>
		<div class="row">
			<div ui-view="experiences"></div>
			<div ui-view="videos"></div>
			<div ui-view="images"></div>
			<div ui-view="projects"></div>
		</div>
	</div>
	<div class="col span_5 introbox mt-lg pos-r">
		<div class="intro-links"><a href="https://github.com/hankim813/" target="_blank"><i class="fa fa-github-alt g-y"></i></a><a href="https://www.linkedin.com/in/hankim813" target="_blank"><i class="fa fa-linkedin l-b"></i></a><a href="https://twitter.com/hanothan" target="_blank"><i class="fa fa-twitter t-b"></i></a></div>
		<p class="intro-header">Han Kim</p>
		<p class="intro-stats">Full-Stack Web Developer & Entrepreneur</p>
		<p class="intro-description">Han is an entrepreneur at heart who recently embarked on a journey to become a full-stack web developer. Shortly after earning a degree in business administration at <a href="http://www.babson.edu" target="_blank">Babson College</a>, he also graduated from a rigorous 19-week <a href="http://devbootcamp.com" target="_blank">coding program</a> where he truly learned how to fathom low-level complexities fast. 
		<br><br>
		The combination of his preexisting business acumen from his past startups and the newly earned knowledge in programming languages makes him a force to be reckoned within tech startup community.</p>
		<p class="intro-description"><strong>Born:</strong> August 13, 1991</p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://www.babson.edu" target="_blank">Babson College</a> (2014) 3.56 GPA</p>
		<p class="intro-description"><strong>Education:</strong> <a href="http://devbootcamp.com" target="_blank">Dev Bootcamp</a> (2015) 1,000 HRS of Coding</p>
		<p class="intro-description"><strong>Languages:</strong> Javascript & Ruby</p>
		<p class="intro-description"><strong>Technologies:</strong> AngularJS, Rails, NodeJS, Express, MongoDB, Postgresql</p>
		<p class="intro-description"><a href="http://hellohankim.com" target="_blank">hellohankim.com</a></p>
	</div>
</div>


