<div class="header-links row w-1-1">
	<a ui-sref="resume.experiences({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/experiences')}">Resume</a>
	<a ui-sref="resume.projects({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/projects')}">Projects</a>
	<a ui-sref="resume.videos({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/videos')}">Videos</a>
	<a ui-sref="resume.images({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/images')}">Gallery</a>
	<a ui-sref="resume.hire({company: '{{resume.companyName}}'})" ng-class="{ active: resume.isActive('/{{resume.companyName}}/resume/hire-han')}">Contact</a>
</div>



