<div class="row mb-lg mt-lg">
	<a ng-click="project.openRepos()" class="item-header-link">GlassHopper | Bar Crawl Like a Champion.</a>
	<p class="item-url">Click above to see repositories <i class="fa fa-caret-down"></i> <span class="date">January 2015</span></p>
	<p class="item-description">
		A mobile application that gives you a statistical snapshot of the current state of bars around you via geolocation. Get realtime data such as girl to guy ratio, number of people, noise level, and more! 
		<br><br>
		* Not yet in the app store!
	</p>
	<p class="item-description">
		<strong>Backend Tech Stack:</strong> <a href="http://nodejs.org/" target="_blank">NodeJS</a>, <a href="http://expressjs.com/" target="_blank">Express</a>, <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>, <a href="http://mongoosejs.com/" target="_blank">Mongoose</a>
	</p>
	<p class="item-description">
		<strong>Client Tech Stack:</strong> <a href="https://angularjs.org/" target="_blank">AngularJS</a>, <a href="http://ionicframework.com/" target="_blank">Ionic + Cordova</a>
	</p>
	<p class="item-description">
		<strong>Team Members:</strong> <a href="http://www.linkedin.com/in/stefanosc" target="_blank">Stefano Schiavi</a>, <a href="http://www.linkedin.com/pub/neil-lambert/55/734/37" target="_blank">Neil Lambert</a>, <a href="http://www.linkedin.com/in/sharmilajesupaul" target="_blank">Sharmila Jesupaul</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Learn an entirely new stack of languages, github workflow, product development cycle, and what it takes to be a dev team leader and a product manager
	</p>
	<p class="item-description">
		<strong>Most Impressive Technical Feats:</strong> Geospatial database queries, JWT Token Authentication
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~200 HRS per person
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/glasshopper" target="_blank">View Backend Repository</a> | <a href="https://github.com/hankim813/glasshopper-client" target="_blank">View Client Repository</a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.glasshopper">
	    <img ng-src="{{ image.src }}" alt="Glasshopper" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="https://p10.herokuapp.com" class="item-header-link">Circle | Welcome Home.</a>
	<p class="item-url">https://p10.herokuapp.com <i class="fa fa-caret-down"></i> <span class="date">December 2014</span></p>
	<p class="item-description">
		A private social network for you and your family. Securely share posts, polls, and photos between your family members.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>, <a href="http://www.postgresql.org/" target="_blank">Postgresql</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Build something beautiful with a focus on authentication and <a href="http://guides.rubyonrails.org/active_record_querying.html" target="_blank">Activerecord</a> associations in 7 days
	</p>
	<p class="item-description">
		<strong>Most Impressive Technical Feats:</strong> Three-layer authentication, self-referential polymorphic association, Amazon S3 integration, indexing entire database via tags for inhouse search engine
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~85 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/p10" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.circle">
	    <img ng-src="{{ image.src }}" alt="Circle" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="http://www.synthesisadvisory.com/" class="item-header-link">Synthesis Advisory Services</a>
	<p class="item-url">http://www.synthesisadvisory.com/ <i class="fa fa-caret-down"></i> <span class="date">August 2014</span></p>
	<p class="item-description">
		Built the website for a financial consulting firm based in Nairobi, Kenya.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Make the client happy
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~25 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/sas" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.sas">
	    <img ng-src="{{ image.src }}" alt="Synthesis Advisory Services" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="http://www.getlconstruction.com/" class="item-header-link">G&L Construction</a>
	<p class="item-url">http://www.getlconstruction.com/ <i class="fa fa-caret-down"></i> <span class="date">August 2014</span></p>
	<p class="item-description">
		Built the website for a construction firm based in Port-au-Prince, Haïti.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Focus on jQuery and design
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~30 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/gl-construction" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.glc">
	    <img ng-src="{{ image.src }}" alt="Synthesis Advisory Services" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="http://www.whoshoopin.com/" class="item-header-link">Who's Hoopin?</a>
	<p class="item-url">http://www.whoshoopin.com/ <i class="fa fa-caret-down"></i> <span class="date">August 2014</span></p>
	<p class="item-description">
		Built a landing page for a basketball related mobile application.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Simple but effective design
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~10 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/whoshoopin" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.hoop">
	    <img ng-src="{{ image.src }}" alt="Synthesis Advisory Services" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="http://www.canrecover.org/" class="item-header-link">CANRecover.org</a>
	<p class="item-url">http://www.canrecover.org/ <i class="fa fa-caret-down"></i> <span class="date">July 2014</span></p>
	<p class="item-description">
		Built the website for a nonprofit concussion awareness organization.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Build a website designed for viewers who are concussion patients, meaning dynamic design and color scheme. Build a CSS translator that enlarges and changes font-sizes and color theme for the patients.
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~20 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/can-recover" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.can">
	    <img ng-src="{{ image.src }}" alt="Synthesis Advisory Services" class="gallery">
	  </div>
	</div>
</div>

<div class="row mb-lg">
	<a href="http://www.planetbae.com/" class="item-header-link">Planet Bae</a>
	<p class="item-url">http://www.planetbae.com/ <i class="fa fa-caret-down"></i> <span class="date">July 2014</span></p>
	<p class="item-description">
		Built the website for a tea wholesaler.
	</p>
	<p class="item-description">
		<strong>Tech Stack:</strong> <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
	</p>
	<p class="item-description">
		<strong>Project Goals:</strong> Clean, and minimalistic design.
	</p>
	<p class="item-description">
		<strong>Hours Spent:</strong> ~10 HRS
	</p>
	<p class="item-description">
		<a href="https://github.com/hankim813/bae" target="_blank">View Repository</a></a>
	</p>
	<div masonry>
	  <div class="masonry-brick" ng-repeat="image in project.bae">
	    <img ng-src="{{ image.src }}" alt="Synthesis Advisory Services" class="gallery">
	  </div>
	</div>
</div>
