<div class="row google-header-bar">
	<div class="d-ib fl-l p-lg">
		<a ui-sref="home">
			<img src="images/google.png" alt="google-logo" class="google-logo-sm">
		</a>
	</div>
	<div class="d-ib fl-l pt-lg pl-lg pb-lg w-2-5">
	  <input type="text" value="Why {{resume.companyName}} should hire Han Kim" class="m-a fz-md fw-n google-input">
	</div>
	<div class="google-search-icon-div d-ib fl-l m-0 mt-lg">
	  <i class="fa fa-search google-search-icon"></i>
	</div>

	<div class="pos-a t-0 r-0">
		<img src="images/header-han.png" alt="header-placeholder">
	</div>
</div>