<div class="row mb-lg">
	<a href="https://www.youtube.com/embed/FAfVEEGXXSc" target="_blank" class="item-header-link">Dancer and Performer for Babson Dance Ensemble</a>
	<p class="item-url">https://www.youtube.com/embed/FAfVEEGXXSc <i class="fa fa-caret-down"></i> <span class="date">Spring 2011 - May 2014</span></p>
	<iframe class="mt-lg" width="100%" height="320px;" src="//www.youtube.com/embed/FAfVEEGXXSc" frameborder="0" allowfullscreen></iframe>
	<p class="item-description">
		Han probably dances more than he walks. Expressing his mood, emotions, and thoughts through the form of freestyle dancing is a skill he does not take for granted. So don't be surprised to find him working alone tapping his feet to music or swaying his head and shoulders left and right-- it's just him always being prepared to dance battle you at any given moment.
		<br><br>
		Being a member of the Babson Dance Ensemble allowed Han to perform on stage in front of hundreds of viewers under the big bright lights. It taught him how to be a showman, a performer, and a crowd pleaser. 
		<br><br>
		He learned how to be himself on stage. As a man of confidence, his swagger is greatly attributed to his dancing capabilities.
	</p>
</div>